/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general styles */

a {
  text-decoration: none;
  color: white;
}

html,
body {
  font-family: 'Oxygen', sans-serif;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 3rem 1rem 3rem;
  background-color: black;
}

header > ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

header > ul > li {
  padding: 1rem;
}

.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 3rem;
  font-family: 'Sacramento', cursive;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-flow: row nowrap;
}

.logo > i {
  margin-right: 0.8rem;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link {
  position: relative;
  white-space: nowrap;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: white;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.link::before {
  content: '';
}

.link-underline::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.link-underline:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

/* img container */

.pageContainer {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/puzzles.jpg) no-repeat center center/cover;
}

.content {
  max-width: 850px;
  text-align: center;
}

.content > h1 {
  font-size: 2.8rem;
  font-weight: 900;
  color: white;
  margin-bottom: 0.8rem;
}

.content > p {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 300;
  color: white;
}
